.mainBanner,
.mainBanner img {
  height: 20vh;
  width: 100%;
  padding: 1% 0 3% 0;
}

.itemBanner {
  height: 20%;
  width: 20%;
}

.itemBanner img,
.itemBanner video {
  width: 100%;
  height: 20vh;
  object-fit: contain;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
