.footer {
  background-color: #393535aa;
  color: white;
  padding-bottom: 2%;
  text-align: center;
}

.footerHead {
  text-decoration: underline;
}

table {
  text-align: left;
  margin: auto;
}

a {
  color: white;
}
